@import url('https://fonts.googleapis.com/css2?family=Bangers&display=swap');


:root {
    --primary-color: rgb(174, 0, 255);
}

body {
    font-family: 'Bangers', cursive;
    margin: 0px;
    background-image: url("https://raw.githubusercontent.com/vikasvk11/wakandan-translator-app/main/images/Groot2.jpg");
    background-repeat: no-repeat;
    background-position: 50% 20%;
    background-attachment: fixed;
    background-size: cover;
    background-color: #000000;
}

main {
    margin: auto;
    padding: 1rem;
    max-width: 600px;
}



textarea {
    box-sizing: border-box;
    display: block;
    width: 100%;
    min-height: 20vh;
    margin-top: 2rem;
    font-size: large;
    font-family: inherit;
}

#txt-output{
    box-sizing: border-box;
    display: block;
    width: 100%;
    min-height: 20vh;
    max-height: 40vh;
    overflow:scroll;
    font-size: large;
    background-color: rgb(245, 245, 245);
}

#btn-translate {
    display: block;
    font-family: inherit;
    background-color: rgb(238, 238, 238);
    margin: auto;
    margin-top: 1rem;
    margin-bottom: 1rem;
    padding: 0.5rem 2rem;
    font-size: larger;
    border-radius: 0.5rem;
    letter-spacing: 0.1rem;
}

.list-non-bullet {
    list-style: none;
    margin-bottom: 0rem;
}

.list-item-inline {
    display: inline;
    padding: 1rem;
    font-size: 1.5rem;
}

.navigation {
    background-color: var(--primary-color);
    text-align: right;
    color: rgb(180, 180, 180);
    padding: 2rem;
    border-bottom-left-radius: 1.5rem;
    border-bottom-right-radius: 1.5rem;
    border-color: white;
}

.navigation .link-active {
    color: rgb(255, 255, 255);
}

/** Links **/

.links {
    text-decoration: none;
    padding: 1rem 1rem;
    background-color: rgb(51, 0, 34);
    border-radius: 1.5rem;
    color: white;
    font-size: larger;
    letter-spacing: 0.1rem;
    border-color: white;
    border-style: solid;
}

.link {
    color: white;
    text-decoration: none;
}

.navigation .link-active {
    text-decoration: underline;
}

.link-center {
    text-align: center;
}

/** Header **/

.header {
    letter-spacing: 0.5rem;
    font-size: 5rem;
    color: rgb(252, 241, 255);
    padding: 5rem 0rem;
}

.container-center {
    text-align: center;
}

.footer {
    background-color: var(--primary-color);
    text-align: center;
    color: white;
    padding: 2rem 0rem;
    border-top-left-radius: 1.5rem;
    border-top-right-radius: 1.5rem;
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
}

.footer-header {
    text-align: center;
    font-size: 1.5rem;
}

.footer ul {
    padding-inline-start: 0px;
}

.footer-center {
    text-align: center;
}