@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');

body {
    font-family: 'Bebas Neue', cursive;
    margin: 0px;
    background-image: url("https://raw.githubusercontent.com/vikasvk11/wakandan-translator-app/main/images/BP.png");
    background-repeat: no-repeat;
    background-position: 50% 100%;
    background-attachment: fixed;
    background-size: cover;
    background-color: #000000;
}

hr {
    margin: 2rem 0rem;
}

.list-non-bullet {
    list-style: none;
    margin-bottom: 0rem;
}

.list-item-inline {
    display: inline;
    padding: 1rem;
    font-size: 1.5rem;
}

.navigation {
    background-color: rgb(63, 63, 63);
    text-align: right;
    color: rgb(180, 180, 180);
    padding: 2rem;
    border-bottom-left-radius: 1.5rem;
    border-color: white;
}

.navigation .link-active {
    color: rgb(255, 255, 255);
}

/** Links **/

.links {
    text-decoration: none;
    padding: 1rem 1rem;
    background-color: black;
    border-radius: 1.5rem;
    color: white;
    font-size: larger;
    letter-spacing: 0.1rem;
    border-color: white;
    border-style: solid;
}

.link {
    text-decoration: underline;
}

.link-center {
    text-align: center;
    padding-top: 10rem;
    
}

/** Header **/

.header {
    letter-spacing: 0.5rem;
    font-size: 2.5rem;
    color: white;
}

.container-center {
    text-align: center;
}

.footer {
    background-color: rgb(63, 63, 63);
    text-align: center;
    color: white;
    padding: 2rem 0rem;
    border-top-left-radius: 1.5rem;
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
}

.footer-header {
    text-align: center;
    font-size: 1.5rem;
}

.footer ul {
    padding-inline-start: 0px;
}

.footer-center {
    text-align: center;
}